# llvm & micro native

llvm/*
microc/tests/*
.DS_Store
*.mc
*.out
*.err

# test output file

microc.native
microc/_build/*
testall.log 
*.diff 

# make output file

microc 
scanner.ml 
parser.ml[i]
*.cm[xio]
*.o
