# llvm & micro native

llvm/*
microc-llvm/tests/*
.DS_Store
*.mc
*.out
*.err
*/microc.native

# test output file

testall.log 
*.diff 

# make output file

microc 
scanner.ml 
parser.ml[i]
*.cm[xio]
*.o
